<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Туры на кольский полуостров</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">


            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                {% include 'includes/nav.html' %}
            </nav>
            <!-- Navigation-->


            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Открой для себя удивительные места во время путешествия на Кольском полуострове!</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Север - место притяжения туристов, cюда можно приезжать в любое время года. Зима - отличное время для походов на снегоступах или погони за северным сиянием, а летом можно насладиться прекрасным воздухом в горах или на море. </p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://t.me/ibonish">Записаться</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="{% url 'summer_travel' %}">Узнать большe</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'img/overlay1.png' %}" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Header-->


            <!-- Features section-->
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"Меня зовут Оксана, и я - гид, влюбленный в этот уникальный уголок России. Я организую экскурсии и туры на Кольском полуострове, а также походы в Хибины. Моя задача – организовать ваше путешествие до самых мелочей, чтобы вам оставалось только наслаждаться нашей невероятной природой. Духи Севера наделили меня бескрайней любовью  к этому краю, иначе как объяснить мое стремление влюбить в это место остальных!"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="{% static 'img/small.png' %}" alt="..." />
                                    <div class="fw-bold">
                                        Оксана Скрябина
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        Квалифицированный гид по Мурманской области
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Наши туры</h2>
                                <p class="lead fw-normal text-muted mb-5">Отправляйся с нами навстречу новым приключениям и эмоциям!</p>
                            </div>
                        </div>
                    </div>

<!-- хууууууууй -->
                    <!-- <div class="container">
                        <div class="row gx-5">
                            {% for tour in tours %}
                            <div class="col-lg-4 mb-5">
                                <div class="card h-100 shadow border-0">
                                    <img class="card-img-top" src="{{ tour.image.image.url }}" alt="..." />
                                    <div class="card-body p-4">
                                        <a class="text-decoration-none link-dark stretched-link" href="">
                                            <h5 class="card-title mb-3">{{ tour.title }}</h5>
                                        </a>
                                        <p class="card-text mb-0">{{ tour.small_description }}</p>
                                        <p> </p>
                                        <button type="button" class="btn btn-outline-dark" href="{% url 'travel_detail' travel_id=tour.id %}">Подробнее</button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div> -->




                    <div class="container">
                        <div class="row gx-5">
                            {% for tour in tours %}
                            <div class="col-lg-4 mb-5">
                                <div class="card h-100 shadow border-0">
                                    <img class="card-img-top" src="{{ tour.image.image.url }}" alt="..." />
                                    <div class="card-body p-4">
                                        <a class="text-decoration-none link-dark stretched-link" href="{% url 'travel_detail' travel_id=tour.id %}">
                                            <h5 class="card-title mb-3">{{ tour.name }}</h5>
                                        </a>
                                        <p class="card-text mb-0">{{ tour.small_description }}</p>
                                        <p> </p>
                                        <a href="{% url 'travel_detail' travel_id=tour.id %}" class="btn btn-outline-dark">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    

                    <!-- Call to action-->
                    <!-- <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                                <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                            </div>
                            <div class="ms-xl-4">
                                <div class="input-group mb-2">
                                    <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                                    <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                                </div>
                                <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                            </div>
                        </div>
                    </aside> -->
                </div>
            </section>
        </main>


        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Наши преимущества</h2></div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-file-image-fill"></i></div>
                                <h2 class="h5">Индивидуальный маршрут!</h2>
                                <p class="mb-0">Я подберу маршрут, с учетом ваших возможностей. Вы сможете увидеть всю красоту природы, начиная от простой прогулки и заканчивая настоящим походом в горы.</p>
                            </div>
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person-fill"></i></div>
                                <h2 class="h5">Ваш персональный гид</h2>
                                <p class="mb-0">Меня зовут Оксана, и я квалифицированный гид по Мурманской области. Проведу тур для вашей компании, а если вы один, то найду единомышленников.</p>
                            </div>
                            <div class="col mb-5 mb-md-0 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-snow2"></i></div>
                                <h2 class="h5">Развитие экологичного туризма</h2>
                                <p class="mb-0">Наш поход или поездка не навредит окружающей среде, ведь самое главное правило - это забота о природе.</p>
                            </div>
                            <!-- <div class="col h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                <h2 class="h5">Featured title</h2>
                                <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            {% include 'includes/footer.html' %}
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>

